<main class="main">

  <!-- Services Section -->
  <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>I provide professional web development services, including designing user-friendly interfaces, building
        backend systems, and developing full stack applications. I focus on creating responsive, fast, and scalable
        websites with secure data handling and reliable database integration tailored to your needs.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row justify-content-center g-5">

        <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
          <div class="service-item">
            <div class="service-icon">
              <i class="bi bi-code-slash"></i>
            </div>
            <div class="service-content">
              <h3>Full-Stack Webpage Development</h3>
              <p>I build responsive and fast webpage using modern technologies like MERN (MongoDB, Express.js, React.js,
                Node.js). tailored to your brand or personal needs.</p>
              <!-- <a href="service-details.html" class="service-link">
                <span>Learn More</span>
                <i class="bi bi-arrow-right"></i>
              </a> -->
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
          <div class="service-item">
            <div class="service-icon">
              <i class="bi bi-layers"></i>
            </div>
            <div class="service-content">
              <h3>Full-Stack Website Development</h3>
              <p>I create dynamic, database-driven websites using the MERN stack (MongoDB,
                Express, React, Node.js) with clean architecture and scalable design.</p>
              <!-- <a href="service-details.html" class="service-link">
                <span>Learn More</span>
                <i class="bi bi-arrow-right"></i>
              </a> -->
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-md-6" data-aos="fade-right" data-aos-delay="200">
          <div class="service-item">
            <div class="service-icon">
              <i class="bi bi-window-stack"></i>
            </div>
            <div class="service-content">
              <h3>Frontend Development</h3>
              <p>I design interactive, user-friendly interfaces using HTML, CSS, JavaScript, and
                frameworks like React.js to ensure a great user experience.</p>
              <!-- <a href="service-details.html" class="service-link">
                <span>Learn More</span>
                <i class="bi bi-arrow-right"></i>
              </a> -->
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-md-6" data-aos="fade-left" data-aos-delay="200">
          <div class="service-item">
            <div class="service-icon">
              <i class="bi bi-server"></i>
            </div>
            <div class="service-content">
              <h3>Backend Development & APIs</h3>
              <p>I develop secure and efficient server-side applications and RESTful APIs using
                Node.js, Express.js, and MongoDB.</p>
              <!-- <a href="service-details.html" class="service-link">
                <span>Learn More</span>
                <i class="bi bi-arrow-right"></i>
              </a> -->
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-md-6" data-aos="fade-right" data-aos-delay="300">
          <div class="service-item">
            <div class="service-icon">
              <i class="bi bi-person-badge"></i>
            </div>
            <div class="service-content">
              <h3>Portfolio / Personal Website Setup</h3>
              <p>I help individuals and students build personal portfolios or resume websites to
                showcase their skills and projects effectively.</p>
              <!-- <a href="service-details.html" class="service-link">
                <span>Learn More</span>
                <i class="bi bi-arrow-right"></i>
              </a> -->
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
          <div class="service-item">
            <div class="service-icon">
              <i class="bi bi-cloud-upload"></i>
            </div>
            <div class="service-content">
              <h3>Website Hosting & Deployment</h3>
              <p>I offer deployment and hosting support using platforms like Vercel, Netlify, and
                Render, including domain setup and optimization.</p>
              <!-- <a href="service-details.html" class="service-link">
                <span>Learn More</span>
                <i class="bi bi-arrow-right"></i>
              </a> -->
            </div>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Services Section -->

</main>